body {
    background-color: #f3f4f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .translator-card {
    background-color: #ffffff;
    max-width: 400px;
    width: 100%;
  }
  
  .w-45 {
    width: 45%;
  }
  
  textarea::placeholder {
    color: #aaa;
  }
  